@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

$primary-color: #007bff;
$font-family: "Limelight", sans-serif;

body {
  font-family: $font-family;
}

#stage {
  display: flex;
  // border: 2px solid blue;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 20px;
  height: 80vh;
  background: url("../img/owen_circle.png") no-repeat center center;
  background-size: contain;
  position: relative;

  #lightning-container {
    margin-bottom: 10px;
    // border: 2px solid red;
    position: absolute;
    left: 49.5%;
    top: 40%;
    transform-origin: center left;
    font-size: 18px;
    transition: transform 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    #lightning {
      width: 200px;
      height: auto;
    }
  }
}